<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Task1PassSetup" Manufacturer="MattBailey" Version="1.0.0"
		   UpgradeCode="DC9BECD2-9404-46A6-B6D1-4886DA250750">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
